html{
    font-size:63%;
}
body{
    // @include backImage('../images/sheet.jpg', 300px);
    background-color: $backBlack; // changing background of body
    margin:0;
    padding:0;
    font-size:2rem;
    
}
.container{
    width:80%;
    margin:0 auto;
    
}
header{
    height: 65px;
    background-color: $backBlack;

}
// index page
.main{
    h1{
        font-family: Beth Ellen;
        color: $h1Color;
        padding-left: 2em;
    }
}
.content{
    height: 100vh;
}

// gallery section
.grid{
    
    .item{
        float:left;
        @include imagegride(3, 0.5%);
        
    }
    img{
        display: block;
        border-radius: $roundness; //nth($roundness,1) starting index 1 // it is in _variable.scss
        max-width: 100%;
    }
    .small{
        @extend img;
        border-bottom: chartreuse 2px solid;
        
    }
}



// work section
$heading-colors: $red,$cool,$brown, $h2Color,$h1Color;

@for $item from 1 through length($heading-colors){
    h#{$item} {
        color : nth($heading-colors , $item );
        text-decoration: underline;
    }
}

h2{
    font-family: 'Beth Ellen', cursive;
    color : $h2Color;
    
}
footer{
    /* n position: fixed; */ 
    bottom: 0;  
    color: white;
    
    p{
        text-align: center;
    }
    
}
