$backBlack : black;
$hoverNav : rgb(92, 79, 4);

@import url('https://fonts.googleapis.com/css?family=Amiri|Beth+Ellen|Leckerli+One&display=swap&subset=arabic');
$h2Color : rgb(236, 112, 17);
$h1Color : rgb(56, 55, 9);
$roundness : 10px 0 20px 0; // used in _base.scss for image

$red : red;
$cool: rgb(134, 134, 240);
$brown: brown;